@model TheCoreBanking.Customer.Data.Models.TblCustomeraccounttype

<div class="card card-plain">
    <div class="card-header text-center">
        <h4 class="card-title">Customer Account Type</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card card-plain">
                <div class="card-body">
                    <div id="accounttype-toolbar">
                        <button class="btn btn-info" id="btnAddAccttype"
                                onclick="openAccountTypeModal()">
                            <i class="now-ui-icons ui-1_simple-add"></i>
                            Add Account Type
                        </button>
                    </div>
                    <table id="typeTable" data-toggle="table"
                           data-url="./Setup/ListCustomerAccountTypes"
                           data-search="true" class="data-table"
                           data-toolbar="#accounttype-toolbar"
                           data-search-align="right"
                           data-show-pagination-switch="true"
                           data-mobile-responsive="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-buttons-class="danger">
                        <thead>
                            <tr>
                                <th data-field="name" data-sortable="true">Type</th>                                
                                <th data-events="typeEvents" data-formatter="editFormatter"
                                    data-align="center" data-width="5%"></th>
                                <th data-events="typeEvents" data-formatter="deleteFormatter"
                                    data-align="center" data-width="5%"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add modal and forms here -->
<div id="AddNewType" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="card-title text-primary font-weight-bold w-100 ml-3 mb-3">
                    <span id="accountTypeTitle">New</span> Customer Account Type
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col">
                            <form id="frmtype">
                                <input type="hidden" name="id" id="id" />                              
                                <div class="row mb-2 required">
                                    <label class="col-md-4 col-form-label">Account Type</label>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input name="name" required id="name"
                                                   type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>                               
                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-left" type="reset">Clear</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-info btn-wd pull-right" type="button" 
                                                id="btnAddType" onclick="AddAccountType()">
                                            Save Record
                                        </button>
                                        <button class="btn btn-info btn-wd pull-right" type="button"
                                                id="btnTypeUpdate" onclick="updateAccountType()">
                                            Update Record
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>