@model TheCoreBanking.Customer.Data.Models.TblMaritalstatus


<div class="card card-plain">
    <div class="card-header text-center">
        <h4 class="card-title">Marital-Status</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card card-plain">
                <div class="card-body">
                    <div id="marital-toolbar">
                        <button class="btn btn-info" id="btnAddMaritalStatus"
                                onclick="openMaritalStatusModal()">
                            <i class="now-ui-icons ui-1_simple-add"></i>
                            Add Status
                        </button>
                    </div>
                    <table id="statusTable" data-toggle="table"
                           data-url="./Setup/listMaritalStatus"
                           data-search="true" class="data-table"
                           data-toolbar="#marital-toolbar"
                           data-search-align="right"
                           data-show-pagination-switch="true"
                           data-mobile-responsive="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-buttons-class="danger">
                        <thead>
                            <tr>
                                <th data-field="status">Status</th>
                                <th data-field="dateCreated" data-sortable="true" data-formatter="dateFormatter">Date Created</th>
                                <th data-events="stateEvents" data-formatter="editFormatter"
                                    data-align="center" data-width="5%"></th>
                                <th data-events="stateEvents" data-formatter="deleteFormatter"
                                    data-align="center" data-width="5%"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add modal and forms here -->
<div id="AddNewStatus" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="card-title text-primary font-weight-bold w-100 ml-3 mb-3">
                    <span id="maritalStatusTitle">New</span> Marital Status
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col">
                            <form id="frmMaritalStatus">
                                <input type="hidden" name="id" id="id" />                               
                                <input type="hidden" name="dateCreated" id="dateCreated" />                               
                                <div class="row mb-2 required">
                                    <label class="col-md-4 col-form-label">Marital Status</label>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input name="status" required id="status"
                                                   type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                @*<div class="row mb-2">
                                    <label class="col-md-4 col-form-label">Active</label>
                                    <div class="col-md-8 mb-3">
                                        <div class="form-check pl-0">
                                            <label class="form-check-label">
                                                <input name="active" class="form-check-input"
                                                       type="checkbox" id="active">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>*@
                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-left" type="reset">Clear</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-info btn-wd pull-right" type="button"
                                                id="btnAddMarital" onclick="AddMaritalStatus()">
                                            Save Record
                                        </button>
                                        <button class="btn btn-info btn-wd pull-right" type="button"
                                                id="btnMaritalUpdate" onclick="UpdateMaritalStatus()">
                                            Update Record
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>