@model TheCoreBanking.Customer.Data.Models.TblTitle

<div class="card card-plain">
    <div class="card-header text-center">
        <h4 class="card-title">Customer Title</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card card-plain">
                <div class="card-body">
                    <div id="title-toolbar">
                        <button class="btn btn-info" id="btnAddCustTitle"
                                onclick="openTitleModal()">
                            <i class="now-ui-icons ui-1_simple-add"></i>
                            Add Customer Title
                        </button>
                    </div>
                    <table id="titleTable" data-toggle="table"
                           data-url="./Setup/listTitles"
                           data-search="true" class="data-table"
                           data-toolbar="#title-toolbar"
                           data-search-align="right"
                           data-show-pagination-switch="true"
                            data-page-list="[5,10,25,50,100,150,200,250,300]"
                            data-page-size="15" data-pagination="true"
                           data-mobile-responsive="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-buttons-class="danger">
                        <thead>
                            <tr>
                                <th data-field="title" data-sortable="true">Customer Title</th>
                              
                                <th data-events="titleEvents" data-formatter="editFormatter"
                                    data-align="center" data-width="5%"></th>
                                <th data-events="titleEvents" data-formatter="deleteFormatter"
                                    data-align="center" data-width="5%"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add modal and forms here -->
<div id="AddNewTitle" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="card-title text-primary font-weight-bold w-100 ml-3 mb-3">
                    <span id="custTitleTitle">New</span> Customer Title
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col">
                            <form id="frmTitle">
                                <input type="hidden" name="id" id="id" />
                                <div class="row mb-2 required">
                                    <label class="col-md-4 col-form-label">Customer Title</label>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input name="title" required id="title"
                                                   type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-left" type="reset">Clear</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-info btn-wd pull-right" type="button"
                                                id="btnAddTitle" onclick="AddCustTitle()">
                                            Save Record
                                        </button>
                                        <button class="btn btn-info btn-wd pull-right" type="button"
                                                id="btnTitleUpdate" onclick="updateCustTitle()">
                                            Update Record
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

