@model TheCoreBanking.Customer.Data.Models.TblKycitem

<div class="card card-plain">
    <div class="card-header text-center">
        <h4 class="card-title">Know Your Customer(KYC)</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card card-plain">
                <div class="card-body">
                    <div id="kyc-toolbar">
                        <button class="btn btn-danger" id="btnAddKycItem"
                                onclick="openKycModal()">
                            <i class="now-ui-icons ui-1_simple-add"></i>
                            Add KYC Items
                        </button>
                    </div>
                    <table id="kycTable" data-toggle="table"
                           data-url="./Setup/ListKYCItems"
                           data-search="true" class="data-table"                      
                           data-toolbar="#kyc-toolbar"
                           data-search-align="right"
                           data-show-pagination-switch="true"
                            data-page-list="[5,10,25,50,100,150,200,250,300]"
                            data-page-size="15" data-pagination="true"
                           data-mobile-responsive="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-buttons-class="danger">
                        <thead>
                            <tr>
                                <th data-field="item" data-sortable="true">KYC Items</th>
                                <th data-field="accounttype.name" data-sortable="true">Account Type</th>
                                <th data-field="datetimecreated" data-sortable="true"
                                    data-formatter="kycdateFormatter">Created On</th>
                                <th data-field="ismandatory" data-formatter="mandatoryFormatter"
                                    data-sortable="true" data-width="5%" data-align="center">Mandatory</th>
                                <th data-events="kycEvents" data-formatter="editFormatter"
                                    data-align="center" data-width="5%"></th>
                                <th data-events="kycEvents" data-formatter="deleteFormatter"
                                    data-align="center" data-width="5%"></th>
                            </tr>
                        </thead>
                    </table>               
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add modal and forms here -->
<div id="AddNewKycPage" class="modal fade" role="dialog" aria-hidden="true" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="card-title text-primary font-weight-bold w-100 ml-3 mb-3">
                    <span id="kycItemTitle">New</span> Know Your Customer(KYC)
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col">
                            <form id="frmkyc">
                                <input type="hidden" name="kycitemid" id="kycitemid" />
                                <input type="hidden" name="accounttypeid" id="accounttypeid" />
                                <input type="hidden" name="displayorder" id="displayorder" value="1" />
                                <input type="hidden" name="createdby" id="createdby" />
                                <input type="hidden" name="lastupdatedby" id="lastupdatedby" />
                                <input type="hidden" name="datetimecreated" id="datetimecreated" />
                                <input type="hidden" name="datetimeupdated" id="datetimeupdated" />
                                <div class="row mb-2 required">
                                    <label class="col-md-4 col-form-label">KYC Item</label>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <input name="item" required id="item"
                                                   type="text" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2 required">
                                    <label class="col-md-4 col-form-label">Customer Account Type</label>
                                    <div class="col-md-8">
                                        <div class="form-group">
                                            <select name="accounttypeid" required id="accounttype"
                                                   class="form-control">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <label class="col-md-4 col-form-label">Mandatory</label>
                                    <div class="col-md-8 mb-3">
                                        <div class="form-check pl-0">
                                            <label class="form-check-label">
                                                <input name="ismandatory" class="form-check-input"
                                                       type="checkbox" id="ismandatory">
                                                <span class="form-check-sign"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-left" type="reset">Clear</button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-right" type="button"
                                                id="btnAddKyc" onclick="AddKycItem()">
                                            Save Record
                                        </button>
                                        <button class="btn btn-danger btn-wd pull-right" type="button"
                                                id="btnKycUpdate" onclick="updateKycItem()">
                                            Update Record
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
