@model TheCoreBanking.Customer.Data.Models.TblCustomerCustomFields
    <div class="card card-plain">
        <div class="card-header text-center">
            <h4 class="card-title">Customer Custom Field</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="card card-plain">
                    <div class="card-body">

                        <div class="row justify-content-between">
                            <div class="row mb-2 col-xs-12 col-lg-12 pr-0">
                                <label class="col-md-2 col-form-label">Input Name</label>
                                <div class="col-md-10 pl-2 pr-0">
                                    <div class="form-group">
                                        <input name="inputname" id="inputname" required
                                               type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2 col-xs-12 col-lg-12 pr-0">
                                <label class="col-md-2 col-form-label">Input Label</label>
                                <div class="col-md-10 pl-2 pr-0">
                                    <div class="form-group">
                                        <input id="inputlabel" name="inputlabel" required
                                               type="text" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2 col-xs-12 col-lg-12 pr-0">
                                <label class="col-md-2 col-form-label">Input Type</label>
                                <div class="col-md-10 pl-2 pr-0">
                                    <div class="form-group">
                                        <select id="InputType" name="InputType">
                                            <option></option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                        </div>

                            @*<fieldset>
                <legend>Customer</legend>
                <div class="container">
                    <!--First Row-->
                    <div class="row">
                        <div class="col-md-5">
                            <label for="Caption">Caption 1:</label>
                            <input type="text" class="form-control" id="Caption1" />

                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit1" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate1" value="Update" />
                        </div>
                        <div class="col-md-5">
                            <label for="Caption2">Caption 2:</label>
                            <input type="text" class="form-control" id="Caption2" />
                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit2" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate2" value="Update" />
                        </div>
                    </div>
                    <!--Second Row-->
                    <div class="row">
                        <div class="col-md-5">
                            <label for="Caption3">Caption 3:</label>
                            <input type="text" class="form-control" id="Caption3" />

                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit3" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate3" value="Update" />
                        </div>
                        <div class="col-md-5">
                            <label for="Caption4">Caption 4:</label>
                            <input type="text" class="form-control" id="Caption4" />
                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit4" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate4" value="Update" />
                        </div>
                    </div>
                    <!--Third Row-->
                    <div class="row">
                        <div class="col-md-5">
                            <label for="Caption5">Caption 5:</label>
                            <input type="text" class="form-control" id="Caption5" />

                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit5" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate5" value="Update" />
                        </div>
                        <div class="col-md-5">
                            <label for="Caption6">Caption 6:</label>
                            <input type="text" class="form-control" id="Caption6" />
                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit6" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate6" value="Update" />
                        </div>
                    </div>
                    <!--Fourth Row-->
                    <div class="row">
                        <div class="col-md-5">
                            <label for="Caption7">Caption 7:</label>
                            <input type="text" class="form-control" id="Caption7" />

                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit7" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate7" value="Update" />
                        </div>
                        <div class="col-md-5">
                            <label for="Caption8">Caption 8:</label>
                            <input type="text" class="form-control" id="Caption8" />
                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit8" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate8" value="Update" />
                        </div>
                    </div>
                    <!--Fifth Row-->
                    <div class="row">
                        <div class="col-md-5">
                            <label for="Caption9">Caption 9:</label>
                            <input type="text" class="form-control" id="Caption9" />

                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit9" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate9" value="Update" />
                        </div>
                        <div class="col-md-5">
                            <label for="Caption10">Caption 10:</label>
                            <input type="text" class="form-control" id="Caption10" />
                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit10" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate10" value="Update" />
                        </div>
                    </div>
                    <!--Sixth Row-->
                    <div class="row">
                        <div class="col-md-5">
                            <label for="Caption">Caption 11:</label>
                            <input type="text" class="form-control" id="Caption11" />

                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit11" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate11" value="Update" />
                        </div>
                        <div class="col-md-5">
                            <label for="Caption12">Caption 12:</label>
                            <input type="text" class="form-control" id="Caption12" />
                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit12" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate12" value="Update" />
                        </div>
                    </div>
                    <!--Seventh Row-->
                    <div class="row">
                        <div class="col-md-5">
                            <label for="Caption13">Caption 13:</label>
                            <input type="text" class="form-control" id="Caption13" />

                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit13" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate13" value="Update" />
                        </div>
                        <div class="col-md-5">
                            <label for="Caption14">Caption 14:</label>
                            <input type="text" class="form-control" id="Caption14" />
                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit14" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate14" value="Update" />
                        </div>
                    </div>
                    <!--Eighth Row-->
                    <div class="row">
                        <div class="col-md-5">
                            <label for="Caption15">Caption 15:</label>
                            <input type="text" class="form-control" id="Caption15" />

                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit15" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate15" value="Update" />
                        </div>
                        <div class="col-md-5">
                            <label for="Caption16">Caption 16:</label>
                            <input type="text" class="form-control" id="Caption16" />
                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit16" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate16" value="Update" />
                        </div>
                    </div>
                    <!--Ninth Row-->
                    <div class="row">
                        <div class="col-md-5">
                            <label for="Caption17">Caption 17:</label>
                            <input type="text" class="form-control" id="Caption17" />

                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit17" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate17" value="Update" />
                        </div>
                        <div class="col-md-5">
                            <label for="Caption1">Caption 18:</label>
                            <input type="text" class="form-control" id="Caption18" />
                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit18" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate18" value="Update" />
                        </div>
                    </div>
                    <!--Tenth Row-->
                    <div class="row">
                        <div class="col-md-5">
                            <label for="Caption19">Caption 19:</label>
                            <input type="text" class="form-control" id="Caption19" />

                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit19" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate19" value="Update" />
                        </div>
                        <div class="col-md-5">
                            <label for="Caption20">Caption 20:</label>
                            <input type="text" class="form-control" id="Caption20" />
                        </div>
                        <div class="col-md-1">
                            <label style="visibility:hidden">Caption</label>
                            <input type="submit" class="form-control" id="btnSubmit20" value="Save" />
                            <input type="submit" style="width:70px;display:none" class="form-control" id="btnUpdate20" value="Update" />
                        </div>
                    </div>
                </div>
            </fieldset>*@


                            @*  <table cellspacing="5" cellpadding="8" border="1" style="margin-left:auto; margin-right:auto; margin-top:30px;width:100%; border-collapse:collapse;">
                <tbody>
                    <tr align="left">
                        <th scope="col">Caption 1</th>
                        <th scope="col">Caption 2</th>
                        <th scope="col">Caption 3</th>
                        <th scope="col">Caption 4</th>
                        <th scope="col">Caption 5</th>
                        <th scope="col">Caption 6</th>
                        <th scope="col">Caption 7</th>
                    </tr>
                    <tr>
                        <td id="HtmlCaption1">&nbsp;</td>
                        <td id="HtmlCaption2">&nbsp;</td>
                        <td id="HtmlCaption3">&nbsp;</td>
                        <td id="HtmlCaption4">&nbsp;</td>
                        <td id="HtmlCaption5">&nbsp;</td>
                        <td id="HtmlCaption6">&nbsp;</td>
                        <td id="HtmlCaption7">&nbsp;</td>
                    </tr>
                    <tr></tr>
                    <tr align="left">
                        <th scope="col">Caption 8</th>
                        <th scope="col">Caption 9</th>
                        <th scope="col">Caption 10</th>
                        <th scope="col">Caption 11</th>
                        <th scope="col">Caption 12</th>
                        <th scope="col">Caption 13</th>
                        <th scope="col">Caption 14</th>
                    </tr>

                    <tr>
                        <td id="HtmlCaption8">&nbsp;</td>
                        <td id="HtmlCaption9">&nbsp;</td>
                        <td id="HtmlCaption10">&nbsp;</td>
                        <td id="HtmlCaption11">&nbsp;</td>
                        <td id="HtmlCaption12">&nbsp;</td>
                        <td id="HtmlCaption13">&nbsp;</td>
                        <td id="HtmlCaption14">&nbsp;</td>
                    </tr>
                    <tr></tr>
                    <tr align="left">
                        <th scope="col">Caption 15</th>
                        <th scope="col">Caption 16</th>
                        <th scope="col">Caption 17</th>
                        <th scope="col">Caption 18</th>
                        <th scope="col">Caption 19</th>
                        <th scope="col">Caption 20</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                    <tr>
                        <td id="HtmlCaption15">&nbsp;</td>
                        <td id="HtmlCaption16">&nbsp;</td>
                        <td id="HtmlCaption17">&nbsp;</td>
                        <td id="HtmlCaption18">&nbsp;</td>
                        <td id="HtmlCaption19">&nbsp;</td>
                        <td id="HtmlCaption20">&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </tbody>
            </table>*@

                        </div>
                    </div>
            </div>
        </div>
    </div>


