
<div class="tab-pane" id="FreezeReason">
    <form id="frmFreezeReason" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
            <div class="card card-plain">
                <div id="type" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#FreezeReasonModal2" type="button" id="FreezeReasonModal" name="FreezeReasonModal">
                                    <i class="now-ui-icons ui-1_simple-add"></i>
                                    Create Freeze Reason
                                </button>
                            </div>

                        </div>


                    </div>
                    <hr />
                    <div class="form-group">
                        <table data-toggle="table" data-url="../FreezeSetup/listfreezereasontype" data-cache="false" data-height="500"
                               id="listfreezeReasonTable" data-pagination="true" data-search="true" data-show-columns="true" data-checkbox-header="false"
                               data-show-refresh="true" data-click-to-select="true" data-single-select="true" data-show-toggle="true" data-toolbar="#custom-toolbar"
                               data-detail-view="true"
                               data-detail-formatter="detailFormatter">
                            <thead>
                                <tr>
                                    <th data-field="state" data-checkbox="true"></th>
                                    <th data-field="id" data-sortable="true" data-visible="false"><b class="text-danger text-center">ID</b></th>
                                    <th data-field="reason" data-sortable="true"><b class="text-danger text-center">Reason</b></th>
                                    <th data-formatter="freezeReasonOperationFormatter" data-events="freezeReasonOperationEvents"
                                        data-align="right" data-width="20%"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </form>




    <!-- Classic Modal -->
    <div class="modal fade" id="FreezeReasonModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    <h4 class="title title-up" id="titleBSR1" name="titleBS">Create Freeze Reason</h4>
                    <h4 class="title title-up" id="titleBSR2" name="titleBS">Update Freeze Reason</h4>
                </div>
                <form id="frmAddFreezeReason">
                    <div class="modal-body">

                        <div class="row">
                            <input type="hidden" id="rowId" />
                            <div class="form-group col-md-12">
                                Freeze Reason
                                <input type="text" class="form-control" id="FreezeReason2" />
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default" name="btnSaveFreezeReason" id="btnSaveFreezeReason">Save Record</button>
                            <button class="btn btn-danger" id="btnFreezeReasonUpdate" onclick="FreezeReasonUpdate()" type="submit" value="Update Record">
                                <i class="now-ui-icons ui-1_check"></i>
                                Update Record
                            </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
    <!--  End Modal -->


</div>
