@model TheCoreBanking.Customer.Data.Models.TblFreezetype
<div class="tab-pane" id="FreezeType">
    <form id="frmFreezeType" method="post">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div id="accordion" role="tablist" aria-multiselectable="true" class="card-collapse">
            <div class="card card-plain">
                <div id="type" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-md-4">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#FreezeTypeModal" type="button" id="btnBondSeriesModal" name="FreezeTypeModal">
                                    <i class="now-ui-icons ui-1_simple-add"></i>
                                    Create Freeze Type
                                </button>
                            </div>

                        </div>


                    </div>
                    <hr />
                    <table data-toggle="table" data-url="../FreezeSetup/listfreezetype" data-cache="false" data-height="500"
                           id="listfreezeTable" data-pagination="true" data-search="true" data-show-columns="true" data-checkbox-header="false"
                           data-show-refresh="true" data-click-to-select="true" data-single-select="true" data-show-toggle="true" data-toolbar="#custom-toolbar"
                           data-detail-view="true"
                           data-detail-formatter="detailFormatter">
                        <thead>
                            <tr>
                                <th data-field="id" data-visible="false" class="text-center"><b class="text-danger text-center">ID</b></th>
                                <th data-field="freezeType" class="text-center"><b class="text-danger text-center">Freeze Type</b></th>
                                <th data-field="active" class="text-center"><b class="text-danger text-center">Active?</b></th>
                                <th data-formatter="freezeTypeOperationFormatter" data-events="freezeTypeOperationEvents"
        data-align="right" data-width="20%"></th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    </form>




    <!-- Classic Modal -->
    <div class="modal fade" id="FreezeTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="now-ui-icons ui-1_simple-remove"></i>
                    </button>
                    <h4 class="title title-up" id="titleBSF1" name="titleBS">Create Freeze Type</h4>
                    <h4 class="title title-up" id="titleBSF2" name="titleBS">Update Freeze Type</h4>
                </div>
                <form id="frmAddFreezeType">
                    <div class="modal-body">
                        
                        <div class="row">
                            <input type="hidden" id="rowId" />
                            <div class="form-group col-md-6">
                               Freeze Type
                               <input type="text" class="form-control" id="FreezeType2" />
                            </div>

                            <div class="form-group col-md-6">
                              <input type="checkbox" id="Active2"/>Active
                            </div>


                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default" name="btnSaveFreezeType" id="btnSaveFreezeType">Save Record</button>
                            <button class="btn btn-danger" id="btnFreezeTypeUpdate" onclick="FreezeTypeUpdate()" type="submit" value="Update Record">
                                <i class="now-ui-icons ui-1_check"></i>
                                Update Record
                            </button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>

    </div>
    <!--  End Modal -->


</div>
