@{
    ViewData["Title"] = "Retail Operations";
}
@section pagedescription{
    <span class="title f24px">CUSTOMER MANAGEMENT M0DULE</span>
}

<div class="card" id="account-card">
    <div class="card-header text-center">
        <h4 class="card-title">Frozen Accounts</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card card-plain">
                <div class="card-body">
                    <div id="account-custom-toolbar">
                        <button class="btn btn-info" onclick="openModal()"
                                type="button">
                            <i class="now-ui-icons ui-1_simple-add"></i>
                            Freeze Account
                        </button>
                    </div>
                    <table id="freeze-account-data-table" class="data-table"
                           data-toggle="table" data-search="true"
                            data-url="@Url.Action("LoadFrozenAccountsForCustomerModule","Account")"
                           data-search-align="right" data-toolbar="#account-custom-toolbar"
                           data-buttons-class="danger" data-show-refresh="true"
                           data-show-toggle="true" data-mobile-responsive="true"
                           data-check-on-init="true" data-pagination="true"
                           data-detail-formatter="utilities.freezeTableFormatter"
                           data-show-pagination-switch="true" data-unique-id="accountNumber"
                           data-min-width="" data-detail-view="true">
                        <thead>
                            <tr>
                                <th data-field="accountNumber"
                                    data-sortable="true">
                                    Account Number
                                </th>
                                <th data-field="accountName"
                                    data-sortable="true">
                                    Account Name
                                </th>
                                <th data-field="freezeTypeId"
                                    data-sortable="true"
                                    data-formatter="utilities.freezeTypeFormatter">
                                    Freeze Type
                                </th>
                                <th data-field="isApproved"
                                    data-sortable="true"
                                    data-formatter="utilities.freezeApprovalStatusFormatter">
                                    Approval Status
                                </th>
                                <th data-field="balance"
                                    data-sortable="true" data-align="right">
                                    Avail. Balance
                                </th>
                                <th data-formatter="utilities.editFreezeFormatter"
                                    data-width="5%" data-align="center">
                                    Reverse
                                </th>


                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add modal and forms here -->
<div id="freeze-account-modal" class="modal fade" role="dialog" data-keyboard="false"
     aria-hidden="true" tabindex="-1" data-backdrop="static">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="card-title text-primary font-weight-bold w-100 text-center mb-3">
                    Freeze Account
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col card card-plain">
                            <form id="freeze-account-form">
                                <div class="row mb-2 required">
                                    <label class="col-md-2 col-form-label">Account No.</label>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <select class="form-control" name="productaccountno"
                                                    required id="productaccountno">
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2 required">
                                    <label class="col-md-2 col-form-label">Freeze Type</label>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <select id="freezetype" name="freezetype" required>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2 required">
                                    <label class="col-md-2 col-form-label">Freeze Reason</label>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <select id="freezereason" name="freezereason" required>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-2 required" id="freezeReasonOthers" name="freezeReasonOthers"  style="display:none">
                                    <label class="col-md-2 col-form-label">Others</label>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <textarea class="form-control" id="freezeReasonOthersText" name="freezeReasonOthersText" cols="30" rows="20"></textarea>
                                            
                                        </div>
                                    </div>
                                </div>



                                @*<div class="row mb-2 required">
                                    <label class="col-md-2 col-form-label">Freeze Date Type</label>
                                    <div class="col-md-10">
                                        <div class="form-group">
                                            <select id="freezedatetype" name="freezedatetype" required>
                                                <option></option>
                                            </select>
                                        </div>
                                    </div>
                                </div>*@

                                <div class="row mb-2" id="freezedatediv" name="freezedatediv" style="display:none">

                                    <label class="col-md-2 col-form-label">Freeze Date</label>
                                    <div class="col-md-5 required">
                                        <div class="form-group">
                                            <label>Start Date</label>
                                            @*<input id="freezestartDate" name="freezestartDate" class="form-control datetimepicker" required />*@
                                        </div>
                                    </div>

                                    <div class="col-md-5">
                                        <div class="form-group">
                                            <label>End Date</label>
                                            @* <input id="freezeendDate" name="freezeendDate" class="form-control datetimepicker" required />*@
                                        </div>
                                    </div>

                                </div>

                                <div class="row mb-2" style="display:none">

                                    <label class="col-md-2 col-form-label">Freeze Date</label>
                                    <div class="col-md-10 required">
                                        <div class="form-group">
                                            <label>Start Date</label>
                                            @*<input id="startTransactDate" name="startTransactDate" class="form-control datetimepicker" required />*@
                </div>
            </div>


        </div>

        <div class="row mb-2 required" id="freezeamountdiv" name="freezeamountdiv">
            <label class="col-md-2 col-form-label">Freeze Amount</label>
            <div class="col-md-10">
                <div class="form-group">
                    <input name="freezeamount" id="freezeamount" type="text"
                           class="form-control" required />
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-md-2 col-form-label">Remark</label>
            <div class="col-md-10">
                <div class="form-group">
                    <textarea name="remark" id="remark" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="row mb-2">
            <label class="col-md-2 col-form-label">Additional Narration</label>
            <div class="col-md-10">
                <div class="form-group">
                    <textarea name="narration" id="narration" class="form-control"></textarea>
                </div>
            </div>
        </div>
        <div class="row mb-2 justify-content-center">
            <div class="col-xs-12">
                <input type="file" id="freeze-file" name="freeze-file" data-browse-label="Choose File"
                       data-browse-class="btn btn-info btn-block btn-simple text-capitalize"
                        data-show-upload="false" data-show-remove="false" data-max-file-size="10000" data-max-file-preview-size="400"
                       data-show-caption="false" data-drop-zone-enabled="false" class="file" />
                <label class="text-center w-100" style="color:red">* Max file size 10mb</label>
                                        </div>
                                </div>
                                <div class="row mt-4 justify-content-between">
                                    <div class="col">
                                        <button class="btn btn-danger btn-wd pull-left" type="button"
                                                onclick="clearFreezeForm()">
                                            Clear
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-info btn-wd pull-right"
                                                type="button" onclick="save()">
                                            Save Transaction
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/js/modules/freeze.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/modules/freeze.min.js"></script>
    </environment>
}
