@model TheCoreBanking.Customer.Data.Models.TblAccountclosure

<div class="card">
    <div class="card-header text-center">
       
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card card-plain">
                <div class="card-body">
                    <div id="teller-toolbar">
                         
                    </div>
                    <table id="tellerTable" data-toggle="table"
                           data-url="@Url.Action("listClosedAndApprovedAccounts", "AccountServices")"
                           data-search="true" class="data-table"
                           data-toolbar="#teller-toolbar"
                           data-search-align="right" data-detail-view="true"  
                           data-show-pagination-switch="true"
                           data-mobile-responsive="true"
                           data-show-refresh="true"
                           data-show-toggle="true"
                           data-buttons-class="danger"
                           data-show-export="true"
                           data-striped="true table-hover"                         
                           data-detail-formatter="utility.tellerLimitTableFormatter">
                        <thead>
                            <tr>
                                <th data-field="accountname" data-sortable="true">Account Name</th>
                                <th data-field="accountnumber" data-sortable="true">Account Number</th>
                                <th data-field="customerid" data-sortable="true">customer Code</th>
                                 
                            

                                
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

 