
@{
    ViewData["Title"] = "Manage Closed Accounts";
}


<div class="card ">
    <div class="col-md-2  pull-right "><h4 class=""> <small>Customer Management</small></h4></div>
    <div class="card-header">
        <h4 class="card-title">Closed Accounts And Details - <small class="description">Account Services</small></h4>
    </div>
    <div class="card-body ">
        <ul class="nav nav-pills nav-pills-primary" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#closedAccount" role="tablist">
                    Closed Account
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " data-toggle="tab" href="#closednotApproved" role="tablist">
                    View Closed and Not Approved
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#closedapproved" role="tablist">
                    View Closed and Approved
                </a>
            </li>


        </ul>
        <div class="tab-content tab-space">
            <div class="tab-pane active" id="closedAccount">
                @Html.Partial("_closedAccount")
            </div>
            <div class="tab-pane" id="closednotApproved">
                @Html.Partial("_closednotApproved")
            </div>

            <div class="tab-pane" id="closedapproved">
                @Html.Partial("_closedapproved")
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <environment include="Development">
        <script src="~/js/modules/ApprovedClosed.js"></script>
        <script src="~/js/modules/ClosedAccount.js"></script>
        <script src="~/js/modules/ClosedNotApproved.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/js/modules/ApprovedClosed.min.js"></script>
        <script src="~/js/modules/ClosedAccount.min.js"></script>
        <script src="~/js/modules/ClosedNotApproved.min.js"></script>
    </environment>

}
