@model TheCoreBanking.Customer.Data.Models.TblCustomer

@section pagedescription{
    <span class="title f24px">CUSTOMER MANAGEMENT M0DULE</span>
}


<style>
    .form-check .form-check-radio {
        display: inline-block;
        position: relative;
        padding: 0 6px;
        margin: 10px 0 0;
    }

        .form-check .form-check-radio input[type='radio'] {
            display: none;
        }

        .form-check .form-check-radio form-check-label {
            color: #666;
            font-weight: normal;
        }

    .form-check form-check-radio form-check-label:before {
        content: " ";
        display: inline-block;
        position: relative;
        top: 5px;
        margin: 0 5px 0 0;
        width: 20px;
        height: 20px;
        border-radius: 11px;
        border: 2px solid #004c97;
        background-color: transparent;
    }

    .form-check .form-check-radio input[type=radio]:checked + form-check-label:after {
        border-radius: 11px;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 9px;
        left: 10px;
        content: " ";
        display: block;
        background: #004c97;
    }


    .radio-item {
        display: inline-block;
        position: relative;
        padding: 0 6px;
        margin: 10px 0 0;
    }

        .radio-item input[type='radio'] {
            display: none;
        }

        .radio-item label {
            color: #666;
            font-weight: normal;
        }

            .radio-item label:before {
                content: " ";
                display: inline-block;
                position: relative;
                top: 5px;
                margin: 0 5px 0 0;
                width: 20px;
                height: 20px;
                border-radius: 11px;
                border: 2px solid red;
                background-color: transparent;
            }

        .radio-item input[type=radio]:checked + label:after {
            border-radius: 11px;
            width: 12px;
            height: 12px;
            position: absolute;
            top: 9px;
            left: 10px;
            content: " ";
            display: block;
            background: red;
        }

        .modal-dialog,
.modal-content {
    /* 80% of window height */
   /* height: 80%;*/
}

    .modal-body {
        /* 100% = dialog height, 120px = header + footer 
        max-height: calc(100% - 120px);
       
        overflow-y: scroll;*/
    }
</style>

<div class="card" id="customer-card">
    <div class="card-header text-center">
        <h4 class="card-title">Profile</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="card card-plain">
                <div class="card-body">
                    <div id="custom-toolbar">
                        <div class="dropdown" id="accountTypes">
                            <button class="btn btn-info" id="btnAddCustomer" data-toggle="dropdown"
                                    type="button" aria-haspopup="true" aria-expanded="false">
                                <i class="now-ui-icons ui-1_simple-add"></i>
                                Add Customer
                            </button>
                            <div class="dropdown-menu">
                                <h6 class="dropdown-header">Choose type</h6>
                                <a class="dropdown-item" id="1" onclick="openModal(this);">Individual</a>
                                <a class="dropdown-item" id="2" onclick="openModal(this);">Minor</a>
                                <a class="dropdown-item" id="3" onclick="openModal(this);">Corporate</a>
                                <a class="dropdown-item" id="4" onclick="openModal(this);">Joint</a>
                                <a class="dropdown-item" id="5" onclick="openModal(this);">Estate</a>
                                <a class="dropdown-item" id="6" onclick="openModal(this);">Unincorporated</a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add modal and forms here -->



@section Scripts {
    <environment include="Development">
        <script src="~/js/modules/profile.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/modules/profile.min.js"></script>
    </environment>
}